# ------------------------------------------------------------------
#  ---- IGNORE PYTHON INTERNALS ----- 
# ------------------------------------------------------------------
__pycache__/
**/__pycache__/

# ------------------------------------------------------------------
#  ---- IGNORE NOTEBOOKS TEMPORALES ----- 
# ------------------------------------------------------------------
notebooks/future_notebooks/

# ------------------------------------------------------------------
#  ---- IGNORE LOGS Y OUTPUTS ----- 
# ------------------------------------------------------------------
logs/

# ------------------------------------------------------------------
#  ---- IGNORE APP STATIC FILES ----- 
# ------------------------------------------------------------------
app/assets/

# ------------------------------------------------------------------
#  ---- IGNORE SCRIPTS ----- 
# ------------------------------------------------------------------
scripts/data_processing.py
scripts/future_scripts/

# ------------------------------------------------------------------
#  ---- IGNORE ENTORNOS Y DEPENDENCIAS ----- 
# ------------------------------------------------------------------
.env
.venv
env/
venv/
*.egg-info/

# ------------------------------------------------------------------
#  ---- IGNORE ARCHIVOS TEMPORALES ----- 
# ------------------------------------------------------------------
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
